[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.6"
telethon = "*"
celery = {extras = ["redis"]}
django-celery-results = "*"
pytz = "*"
tzlocal = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.6"
