{% extends "base.html" %}

{% block content-header %}Add chat account{% endblock %}
{% block content %}
<form class="add-account-form" action="{% url 'explorer:add_account' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="messenger_type" value="1" />
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Type</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext"value="Telegram">
    </div>
  </div>
  <div class="form-group row">
    <label for="login" class="col-sm-2 col-form-label">Login</label>
    <div class="col-sm-10">
      <input type="phone" id="login" name="login" value="" class="form-control"  placeholder="+12223334455" autofocus=""/>
    </div>
  </div>
  <button name="submit" value="submit" class="btn btn-primary btn-block" type="submit">Add</button>
</form>
{% endblock %}
