{% extends "base.html" %}

{% block additional-styles %}
    .box-body-content {
    padding: 0;
  }
{% endblock %}

{% block content-header %}
  {% if from == 'import' %}
    Choose chat account to import from
  {% else %}
    Saved chat accounts
  {% endif %} <a class="btn btn-primary pull-right" href="{% url 'explorer:add_account' %}" role="button"><i class="fa fa-plus">&nbsp;</i> Add chat account</a>{% endblock %}
  }
{% block content %}
<div class="box box-default box-content">
  <div class="box-body box-body-content">
    <div>
    {% if not accounts %}
      You do not currently have any chat accounts.
    {% else %}
      <div class="box-body no-padding">
        <table class="table table-striped">
          <tbody>
          {% for account in accounts %}
            <tr>
              <td><h4><a href="{% url 'explorer:list_remote_chats' account_id=account.id %}">{{ account.name }}</a></h4></td>
            </tr>
          {% endfor %}
        </tbody></table>
      </div>
    {% endif %}
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>

{% endblock %}
